html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: radial-gradient(ellipse at bottom, #182028 0%, #111214 100%);
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.logo-container {
    width: 66%;
    max-width: 1792px;
    margin: 0 auto;
    overflow: hidden;
}

#logo {
    width: 100%;
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeInDrop 1s ease forwards;
}

@keyframes fadeInDrop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.links a {
    display: inline-block;
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Young Serif', serif;
    font-weight: 400;
    background: linear-gradient(white, #72673b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 10px;
    opacity: 0; /* Start with hidden links */
    transform: translateY(-20px); /* Start slightly higher */
    animation: fadeInDown 1s ease forwards; /* Animation applied */
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    text-align: right;
}

footer p {
    font-size: 1.0em;
    font-family: 'Young Serif', serif;
    color: rgb(187, 187, 187);
    margin: 0;
}
